.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  background-color: #343a40;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--primary-color);
}

.logo {
  display: flex !important;
  align-items: center;

  color: #fff !important;
  font-size: 24px !important;
  line-height: 24px !important;
  font-weight: 600;
}

.logo:hover {
  color: var(--primary-color) !important;
}

.logo__icon {
  font-size: 1.5em;
  margin-right: 8px;
}

.menubar--sm {
  display: none;
}

.menubar {
  background-color: transparent !important;
  color: #fff !important;
  border-bottom: unset !important;
}

.menubar-item {
  border-bottom: unset !important;
}

.menubar-item:hover {
  border-bottom: unset !important;
}

.menubar-item-link {
  color: #fff !important;
}

.menubar-item-link:hover {
  color: var(--primary-color) !important;
}

.menubar-item-link--active {
  color: var(--primary-color) !important;
}

.auth-menu {
  display: block;
  height: 100%;
}

.avatar {
  margin-right: 8px !important;
}

.logo-mobile {
  background-color: red;
}

@media (max-width: 700px) {
  .header {
    padding: 0 24px;
  }
}

@media (max-width: 630px) {
  .menubar {
    display: none;
  }

  .menubar--sm {
    display: block;
  }
}
