.dashboard {
  padding: 24px 100px;
}

.dashboard-header__title {
  color: var(--primary-color) !important;
  font-size: 3rem !important;
  font-weight: 400 !important;
}

.dashboard-header__subtitle {
  display: block;
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.dashboard-header__action {
  font-size: 16px !important;
}
