.content {
  margin-top: 64px;

  padding: 40px 100px;
}

@media (max-width: 825px) {
  .content {
    padding: 40px 50px;
  }
}

@media (max-width: 550px) {
  .content {
    padding: 40px 24px;
  }
}
